

body, html {
    width: 100%;
    height: 100%;
    font-family:'hk_groteskmedium';
    color: #111;
}
.title h1 {
    font-size: 3em;
    color: #CAD3C8;
}
.title i {
    font-size: 2em !important;
    padding-bottom: 0;
    color: #CAD3C8;
}
@media (min-width:1025px) {

    .brand-logo img {
        margin-left: 1em;
        margin-top: 0.5em;
    }
}


.content {
  color: #333;
}


.brand-logo img {
    margin-left: 1em;
    margin-top: 0.5em;
}

p {
    font-family:'work_sansmedium';
    color: #111 !important;
}

ul {
    font-family:'work_sansmedium';
    color: #111 !important;
}

ul li {
  list-style-type: circle !important;
}

.book.review {
  background-color: #ef9a9a;
}
