@font-face {font-family: "FF Tisa"; src: url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.eot"); src: url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.woff") format("woff"), url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.svg#FF Tisa") format("svg"); }

body, html {
    width: 100%;
    height: 100%;
    font-family:'hk_groteskmedium';
    color: #FFFFFF;
}


.seagreen {
  background-color: #78C091;
}
.khaki {
  background-color: #bcaa99;
}
.sugar {
  background-color: #8e5572;
}
.glaucous {
  background-color: #6987c9;
}

footer .section {
  padding-bottom: 0;
  height: 50px;

}
.brand-logo img {
        margin-left: 1em;
        margin-top: 0.5em;
        height: 1em;
    }
@media (min-width:1025px) {
    h1 {
        font-size: 5em;
    }
    
}
@media (max-width:480px) {
    #hero h1 {
        font-size: 3em;
    }
}
#hero img {
    margin:auto;
}

.about-1 {
    text-align: center;
    color: inherit;
    text-decoration: none;
}
.about {
    text-align: center;
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -ms-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0);
}
.about:hover {
    /* padding: 5em;
    margin:0; */
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
}
footer  {
  font-family: "hk_groteskmedium";
}
