@font-face {
    font-family: "EverMono";
    src: url('../font/Inconsolata.otf');
}
@font-face {
    font-family: "EverMonoB";
    src: url('../font/Inconsolata-Bold.ttf');
}
/*@font-face {
    font-family: "EverMonoO";
    src: url('../font/evermono-7.0.0/Everson Mono Oblique.ttf');
}
@font-face {
    font-family: "EverMonoBO";
    src: url('../font/evermono-7.0.0/Everson Mono Bold Oblique.ttf');
}*/

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

#loader
{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
}

.side-nav a {
    font-size: 1.25rem;
}

html, body {
    height: 100%;
}
.hero {
    background: url(../img/download.png);
    height: 100%;
}

a {
    color: #CC0000;
    box-shadow: inset 0 -0.125em 0 0 #cc000066;
    transition: all .2s cubic-bezier(.17,.67,.83,.67);
}

a:hover {
    background: #cc000066;
}

* {
    font-family: "EverMono";
}

header {
    height: 100%;
}

.hero h1 {
    font-family: "EverMonoB";
}

.hero h3 {
    font-family: "EverMono";
}

.side-nav li {
    -webkit-transition: all .2s cubic-bezier(.17, .67, .83, .67);
    transition: all .2s cubic-bezier(.17, .67, .83, .67);
    padding: 0;
}

.logo a {
    height: auto;
}

.projects h1 {
    margin-top: 0;
    padding-top: 2.1rem;
    font-family: "EverMonoB";
}

.projects .col.l4 {
    border-left: 2px solid #ff5252;
}

.projects h3 {
    color: rgba(0, 0, 0, 0.5);;
}

.projects .btn-flat {
    margin-top: 20px;
}

.write .col.l4 {
    border-left: 2px solid #1de9b6;
}

.write h1 {
    margin-top: 0;
    padding-top: 2.1rem;
    font-family: "EverMonoB";
}

.write .btn-flat {
    margin-top: 20px;;
}

footer {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.footer-copyright {
    margin-top: 0;
    padding-top: 0;
}
