---
title: Projects
layout: page
icon: dashboard
script: /js/projects.js
---

<div class="row">
    <div class="col m2 s12">
        <a href="#!" id="codin" class="btn grey waves-effect waves-light">Code</a>
    </div>
    <div class="col m2 s12">
        <a href="#!" id="writin" class="btn blue-grey waves-effect waves-light">Writing</a>
    </div>
    <div class="col m2 s12">
        <a href="#!" id="musin" class="btn orange waves-effect waves-light">Music</a>
    </div>
    <div class="col m2 s12">
      <a href="#!" id="meme" class="btn red waves-effect waves-light" >Memes</a>
    </div>
    <div class="col m2 s12">
        <a href="#!" id="all" class="btn waves-effect waves-light">ALL</a>
    </div>
</div>
<div class="row">

    {% for post in site.posts %}
    {% if post.categories contains 'project' %}
    <div class="col s12 m6">

        <div class="card {{post.type}}">
          <div class="card-image">
              <img src="{{post.image}}">

            </div>

          <div class="card-content">
            <span class="card-title">{{post.title}}</span>
            <p>{{post.excerpt}}</p>
          </div>
          <div class="card-action">
            <a href="{{post.url}}">Read about it</a>
            <a href="{{post.link}}" class="teal-text">See it here</a>
          </div>

        </div>
      </div>

    {% endif %}

    {% endfor %}

</div>
