<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Razetime | {{ page.title }}</title>

    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
    <link
      href="https://fonts.googleapis.com/css2?family=Fenix&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />
    <link rel="stylesheet" href="{{"style.css" | relative_url }}">
  </head>
  <body>
    <div class="container">
      <br>
      <a href="{{ "/" | relative_url }}">← Home</a>
      <br>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    <div class="container">
      <a href="https://razetime.github.io/footer.html">Footer</a>
    </div>
  </body>
</html>
